@page
@model TestNotificationWebApp.Pages.InformationModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Information";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<div class="text-left border-space">This page shows all the details about the registered device to Azure Hub Notification.</div>

<div>
    <table>
        <tr>
            <th>Number</th>
            <th>RegistrationId</th>
            <th>Tags</th>
            <th>ExpirationTime</th>
        </tr>
        @for (int i = 0; i < Model.TotalRegistration; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@Model.Data[i].RegistrationId</td>
                <td>
                    @for (int j = 0; j < Model.Data[i].Tags.Length && Model.Data[i].Tags[j] != null; j++)
                    {
                        <div><span>- </span>@Model.Data[i].Tags[j]</div>
                        @*@if ((j + 1 != Model.Data[i].Tags.Length) || Model.Data[i].Tags[j + 1] != null)
                        {
                            <span>,</span>
                        }*@
                    }
                </td>
                <td>@Model.Data[i].ExpirationTime</td>
            </tr>
            @*<li><a asp-controller="Push" asp-action="Send" asp-route-tags="@registration.Tags" asp-route-registrationType="@registration.RegistrationType">@registration.</a></li>*@
        }
    </table>
</div>



